@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Paleta de Cores Personalizada */
  --color-pink-primary: #ec4772;
  --color-yellow-primary: #FFF67C;
  --color-burgundy: #ba0a4c;
  --color-peach: #fff1e5;
  --color-red-primary: #ed0150;
  --color-pink-light: #fe9cc1;
}

@theme inline {
  
  /* Cores da Paleta */
  --color-pink-primary: var(--color-pink-primary);
  --color-yellow-primary: var(--color-yellow-primary);
  --color-burgundy: var(--color-burgundy);
  --color-peach: var(--color-peach);
  --color-red-primary: var(--color-red-primary);
  --color-pink-light: var(--color-pink-light);
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
